body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
    padding: 20px;
}

h1 {
    color: #3DE0D2;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.custom-lead {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large;
}

.tile {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}