body {
    margin: 0;
}
    
#menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #3DE0D2;
    padding: 10px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); 

/* Add shadow here */
}
#menu ul, #menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#menu li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
#menu a {
    display: block;
    line-height: 42px;
    padding: 0 14px;
    text-decoration: none;
    color: #3DE0D2;
    font-size: 18px;
    text-align: left;
}
#menu a.dropdown-arrow:after {
    content: "\25BE";
    margin-left: 5px;
}
#menu li a:hover {
    color: #C8A47B;
    background: #F2F2F2;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#menu label {
    display: none; /* Initially hidden */
    text-align: center;
    position: relative;
    top: 0;
    cursor: pointer;
}

#menu label:before {
    font-size: 1.6em;
    color: #3DE0D2;
    content: "\2261"; 
}
#menu ul.sub-menus {
    height: auto;
    overflow: hidden;
    width: 250px;
    background: #FFFFFF;
    position: absolute;
    z-index: 99;
    display: none;
}
#menu ul.sub-menus li {
    display: block;
    text-align: left;
    width: 100%;
}
#menu ul.sub-menus a {
    color: #3DE0D2;
    font-size: 16px;
}
#menu li:hover ul.sub-menus {
    display: block;
}
#menu ul.sub-menus a:hover {
    background: #F2F2F2;
    color: #C8A47B;
}


@media screen and (max-width: 800px) {
    #menu {
        position: relative;
        align-items: center;
    }
    #menu ul {
        background: #FFFFFF;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none;
        text-align: left;
    }
    #menu ul.sub-menus {
        width: 100%;
        position: static;
    }
    #menu ul.sub-menus a {
        padding-left: 30px;
    }
    #menu li {
        display: block;
        float: none;
        width: auto;
    }
    #menu label {
        display: block;
        margin: 10px auto;
    }
    #menu input:checked ~ ul {
        display: block;
    }
    #menu input:checked + label:before {
        content: "\00d7"; 
    }
}
